@font-face{
    src: url(fonts/Jost-Regular.ttf);
    font-family: jost-reg;
}

@font-face {
    font-family: jost-bld;
    src: url(Fonts/Jost-Bold.ttf);
}

@font-face {
    font-family: jost-l;
    src: url(Fonts/Jost-Light.ttf);
}

@font-face {
    font-family: PX;
    src: url(Fonts/nokiafc22.ttf);
}

@font-face {
    font-family: PX1;
    src: url(Fonts/DTM-Mono.otf);
}

@font-face {
    font-family: PX2;
    src: url(Fonts/upheavtt.ttf);
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    margin: 0px;
    background-color: #E494AD;
    border-style: solid;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-bottom-color: #E494AD;
    border-right-color: #E494AD;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main{
    flex: 1;
    padding: 0px;
}

#never{
    border: 3px solid #33151B;
    margin: 20px;
    height: 770px;
}

#Jerma{
    border-style: inset;
    border-top-color: #33262A;
    border-left-color: #33262A;
    border-bottom-color: #FFDAE7;
    border-right-color: #FFDAE7;
    margin: 0px 20px 5px 20px;
    background-color: #C25779;
    padding: 10px;
    height: 870px;
    width: 8px;
    flex: 1;
    background-image: 
                linear-gradient(45deg, #E394AD 25%, transparent 25%),
                linear-gradient(-45deg, #E394AD 25%, transparent 25%),
                linear-gradient(45deg, transparent 75%, #E394AD 75%),
                linear-gradient(-45deg, transparent 75%, #E394AD 75%);
            background-size: 40px 40px;
            background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}

#div1{
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    height: auto;
    width: auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    height: 895px;
    width: 400px;
    padding: 0px 0px 0px 0px;
}

.item-1{
    font-family: 'PX2' ,Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    color: #33151B;
    border: solid 3px black;
    border-top-color: #fbb4ca;
    border-left-color: #fbb4ca;
    border-bottom-color: #33151B;
    border-right-color: #33151B;
    letter-spacing: 2rem;
    font-size: 1.9rem;
}

.item-2{
    font-family: 'PX1' ,Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    font-size: 1.10rem;
    text-decoration: none;
    letter-spacing: -.02rem;
    padding: 5px;
    color: #33151B;
    border: solid 3px black;
    border-top-color: #fbb4ca;
    border-left-color: #fbb4ca;
    border-bottom-color: #33151B;
    border-right-color: #33151B;
}



#logo{
    text-decoration: underline;
    color: #ffffff;
    font-family: 'PX', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.735);
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 6px;
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
    width: fit-content;
    cursor: pointer;
    margin-right: auto;
}

#cat{
    box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.732);
    height: 40px;
    width: 35px;
    margin: 1px;
    border: white 2px solid;
}

.cake{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 3px black;
    padding: 0;
    margin: 0;
    width: fit-content;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-bottom-color: #c09395;
    border-right-color: #c09395;
    color: #A21D48;
}


li, a{
    color:#ffffff;
    font-family: 'PX', Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: .9rem;
    padding: 4px;
}

header{
    display: flex;
    justify-content: start; 
    align-items: center;
    background-color: #F03C75;
    padding: 2px .5%;
    padding-right: 20px;
    padding-left: 10px;
    box-shadow: #33262A 0px 1px 1px;
}

.navbar ul{
    list-style: none;
    padding: 5px 3px 5px 8px;
    margin: 1px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 1px 2px rgba(34, 34, 34, 0.734);
}

.navbar li{
    font-family: 'PX', Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.377);
    font-size: 1.2rem;
    margin: 0px 15px 0px 0px;
}

.navbar li:not(:empty)::first-letter{
    text-decoration: underline;
}


.Nav_Link{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.Nav_Link li{
    display: inline-block;
    padding: 0px;
    text-shadow: 1px 1px 0px #4c4c4c;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.735);
    background-color: #903E56;
    font-size: 1.10rem;
    border-style: outset;
    border-width: .25rem;
    border-top-color: #FFDAE7;
    border-left-color: #FFDAE7;
    border-bottom-color: #723144;
    border-right-color: #723144;
}

.Nav_Link li a{
    transition: all 0.3s ease 0s;
}

.Nav_Link li a:hover{
    color: #F03C75;
}

#input-4{
    font-family: jost-bld;
    color: red;
    background-color: #252525;
    font-size: 24px;
    border-radius: 0px;
}

#button{
    font-family: jost-l;
    font-size: 1.5em;
    border-radius: 16px;

}

.html{
    text-decoration: none;
}
